.ip-data {
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    box-shadow: 3px 3px 10px 4px rgba(150,150,150,0.6);
    -webkit-box-shadow: 3px 3px 10px 4px rgba(150,150,150,0.6);
    margin: 20px auto;

    .sub-title {
        font-size: $smallFont;
        color: $darkGrey;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-weight: 500;
    }
}

.data-block {
    margin: 20px auto;
}